@import '../../style/colors';
@import '../../style/media';

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $background-dark-grey;
    padding: 20px 60px;
    gap: 200px;

    h1 {
        color: white;
        margin-bottom: 0;
    }
}

@media (max-width: $mobile-max-width) {
    .projects {
        gap: 0;
        padding: 20px;
    }
}
