@import '../../style/colors';

.tools-showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-dark-grey;
    padding: 50px 20px;

    h1 {
        color: white;
        font-weight: bolder;
    }

    .toolslists-container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}
