@import '../../style/colors';
@import '../../style/media';

.tools-showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-dark-grey;
    padding: 50px 20px;

    .tools-title {
        color: white;
        font-weight: bolder;
        margin-left: 40px;
    }

    .toolslists-container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}

@media (max-width: $mobile-max-width) {
    .tools-showcase {
        padding: 10px 20px;

        .tools-title {
            margin-bottom: 0;
        }

        .toolslists-container {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }
    }
}
